/* Employee List Css Decoration */
.selected{
    background-color: green !important;
    color: white;
}
.employees{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.employees li{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #eeeeee;
    margin: .5em;
    height: 2em;
    border-radius: 4px;
}

/* Selected Employ on hover decoration */
.employees li.selected:hover{
    background-color: #bbbbbb;
    color: white;
}

/* On Hover list Decoration */
.employees li:hover{
    color: red;
    background-color: #dddddd;
    left: 1em;
}

.employees .text{
    position: relative;
    top: -3px;
}

.employees .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #6078db;
    line-height: 1em;
    position: relative;
    height: 1.7em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

/* empDetails */
.empDetails{
    border: 5px solid grey;
    height: 200px;
    width: 300px;
    padding: 1em;
    top: 50%;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -170%);
}